/* landing page styles */
.landing-body {
	background: url(../img/bg.jpg) no-repeat center center fixed;
	 -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.landing-body img {
	max-width: 80%;
	margin: 10% auto 0;
	display: block;
}
.landing-mkt {
	color: #fff;
	font-weight: 200;
	font-size: 260%;
	width: 80%;
	margin: 50px auto 70px;
	text-align: center;
}

/* Changing navbar backgrounds to be teal color, title text to be white */
.bar.bar-stable {
	background-color: #009688;
}
.nav-bar-block .bar.bar-stable .title,
.bar-stable .button.button-clear {
	color: #fff;
}

/* change button styles */
.button.button-positive.button-outline {
    border-color: #009688;
    color: #009688;
}
.button.button-positive {
    border-color: #009688;
    background-color: #009688;
}
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active {
	color: #009688;
}
.fb-button {
	background-color: #3b5998;
	color: #fff;
	border: none;
}
.google-button {
	background-color: #d32f2f;
	color: #fff;
	border: none;
}

/* make text look like a link */
p.looks-like-link {
	color: #387EF5;
}
a.looks-like-fb {
	color: #3b5998;
}
a.looks-like-google {
	color: #d32f2f;
}

/* product tab styles */
.items-tab.item-title {
    font-weight: 200;
    font-size: larger;
    text-transform: uppercase;
    font-family: "Helvetica Neue";
}
.items-tab.item-desc {
    font-weight: 200;
    font-family: "Helvetica Neue";
}
.items-tab.item-price {
    font-weight: 400;
    font-family: "Helvetica Neue";
    float: right;
    color: green;
}
.item-complex .item-content {
	padding-right: 20px;
}
.grid .item-complex .item-content {
	height: 220px;
}
.item-content {
	white-space: normal;
}

/* product tab details page styles */
.items-details.item-title {
    font-weight: 200;
    font-size: 240%;
    text-transform: uppercase;
    font-family: "Helvetica Neue";
    margin: 10px 0;
}
.items-details.item-desc {
    font-weight: 200;
    font-family: "Helvetica Neue";
    font-size: larger;
}
.items-details.item-price {
    font-weight: 400;
    font-family: "Helvetica Neue";
    float: right;
    color: green;
    font-size: 240%;
    margin: 20px 0;
}

/* masonry grid */
.grid-item { 
	width: 50%;
	float: left;
}

[name="tab-dash"] .item-photo img {
    width: 100%;
}

/* currency tab styles */
.currency-tab.currency-have {
    font-weight: 200;
    font-size: 180%;
    text-transform: uppercase;
    font-family: "Helvetica Neue";
}
.currency-tab.currency-need {
    font-weight: 200;
    font-size: 180%;
    text-transform: uppercase;
    font-family: "Helvetica Neue";
}
.currency-tab.currency-amount {
    font-weight: 400;
    font-family: "Helvetica Neue";
    float: right;
    color: green;
    font-size: 180%;
}
.currency-tab.currency-exchangeRate {
    font-weight: 200;
    font-family: "Helvetica Neue";
}

/* currency description tab styles */
.currency-details.currency-have {
    padding-top: 20px;
    font-weight: 200;
    font-size: 300%;
    text-transform: uppercase;
    font-family: "Helvetica Neue";
}
.currency-details.currency-need {
    font-weight: 200;
    font-size: 300%;
    text-transform: uppercase;
    font-family: "Helvetica Neue";
}
.currency-details.currency-amount,
.currency-details.currency-desc,
.currency-details.currency-trade {
    margin-top: 20px;
    font-weight: 200;
    font-family: "Helvetica Neue";
    font-size: 140%;
}
.currency-details.currency-exchangeRate {
    font-weight: 200;
    font-family: "Helvetica Neue";
    font-size: 140%;
}
.cur-bold {
	font-weight: 400;
	color: green;
}
.cur-img {
	float: left;
    max-width: 50px;
    max-height: 50px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-top: 7px;
    margin-right: 10px;
}

/* chat styles */
.chat-send input[type="textarea"] {
	border: none;
}
.offer-avatar {
	border: none;
}