/* Changing navbar brackgrounds to be teal color, title text to be white */
.bar.bar-stable {
	background-color: #009688;
}
.nav-bar-block .bar.bar-stable .title,
.bar-stable .button.button-clear {
	color: #fff;
}

/* product tab styles */
.items-tab.item-title {
    font-weight: 200;
    font-size: larger;
    text-transform: uppercase;
    font-family: "Helvetica Neue";
}
.items-tab.item-desc {
    font-weight: 200;
    font-family: "Helvetica Neue";
}

/* masonry grid */
.grid-item { 
	width: 50%;
	float: left;
}