<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{ chat.name }}">
  <ion-content class="padding">
    <a class="item item-avatar offer-avatar" href="#">
      <img ng-src="{{ chat.face }}">
      <h2>{{ product.title }}</h2>
      <p>{{ product.description }}</p>
      <!-- <p class="looks-like-link">Link to Offer</p> -->
    </a>
    <p> {{chat.lastText}} </p>
    <ion-item ng-repeat="message in messages" type="item-text-wrap"> 
      <p> {{message.text}} </p>
    </ion-item>
    <div class="content has-header chat-send">
        <label class="item item-input">
            <input type="textarea" placeholder="Message here..." ng-model="newMessage.text">
        </label>
        <button class="button button-full button-positive" ng-click="sendMessage()">Send</button>
    </div>
  </ion-content>
</ion-view>
