<ion-view view-title="Trade">

    <div class="content has-header">
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Full Name" ng-model="user.name">
            </label>
            <label class="item item-input">
                <input type="email" placeholder="Email" ng-model="user.email">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Title" ng-model="product.title">
            </label>
            <label class="item item-input">
                <textarea placeholder="Description">{{ product.description }}</textarea>
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-outline button-positive" ng-click="addPhoto()">Add photo</button>
            <button class="button button-block button-positive" ng-click="trade()">Trade</button>
        </div>
    </div>
</ion-view>
