<ion-view view-title="Around you">
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="trade()">Trade</button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <ion-list>
      <ion-item class="item-remove-animate" ng-repeat="product in products" type="item-text-wrap" href="#/tab/product/{{ product._id }}">
          <div>{{ product.title }}</div>
          <div>
            {{ product.description }}
          </div>
          <div>
            {{ product.askingPrice }}
          </div>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
