<ion-view view-title="Exchange">
    <ion-content class="padding">
        <div class="items-details">{{ currency.have }}</div>
        <div class="items-details">{{ currency.amount }}</div>
        <div class="items-details">{{ currency.need }}</div>
        <div class="items-details">{{ currency.amount * currency.exchangeRate }}</div>
        Rate:
        <div class="items-details">{{ currency.exchangeRate }}</div>
        <div class="items-details item-desc">{{ currency.description }}</div>

        <button class="button button-full button-positive" ng-click="Exchange()" ng-show="!exchanged && user._id != product.userId">
            Exchange
        </button>
        <button class="button button-full button-positive" ng-show="exchanged" disabled>
            Exchanged
        </button>
        <button class="button button-positive button-outline" ng-show="user._id != product.userId">
            Contact
        </button>
    </ion-content>
</ion-view>
