<ion-view view-title="Item">
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="trade()" ng-show="product.userId == user._id  && user._id != null">Edit</button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <img ng-repeat="img in product.images" ng-src="{{ img }}" style="width: 64px; height: 64px">
        <div class="items-details item-photo"><img src="http://placehold.it/350x225"></div>
        <div class="items-details item-title">{{ product.title }}</div>
        <div class="items-details item-desc">{{ product.description }}</div>
        <div class="items-details item-price">{{ product.askingPrice }}</div>

        <div class="abc">
            <div class="items-details item-price" ng-repeat="tag in product.tags">
                {{tag}}
            </div>
        </div>

        <button class="button button-full button-positive" ng-click="buy()" ng-show="!bought && user._id != product.userId">
            Buy
        </button>
        <button class="button button-full button-positive" ng-show="bought" disabled>
            Bought
        </button>
        <button class="button button-positive button-outline" ng-show="user._id != product.userId" ng-click="contact()">
            Contact
        </button>
    </ion-content>
</ion-view>
