<ion-view view-title="Currency Exchanges">
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="trade()"><i class="ion-plus-round"></i> Trade</button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <ion-list>
            <ion-item class="item-remove-animate" ng-repeat="currency in currencies" type="item-text-wrap" href="#/tab/currency/{{ currency._id }}">
            	<div class="currency-tab currency-have">{{ currency.have }}</div>
            	<div class="currency-tab currency-need">{{ currency.need }}</div>
            	<div class="currency-tab currency-amount">{{ currency.amount }}</div>
            	<div class="currency-tab currency-exchangeRate">{{ currency.exchangeRate }}</div>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>
