<ion-view view-title="Around you">
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="trade()">Trade</button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <ion-list>
      <ion-item class="item-remove-animate" ng-repeat="product in products" type="item-text-wrap" href="#/tab/product/{{product.id}}">
          <div>Recent Updates</div>
          <div>
            There is a fire in <b>sector 3</b>
          </div>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
