<ion-view view-title="Item">
    <ion-content class="padding">
        <img ng-repeat="img in product.images" ng-src="{{ img }}" style="width: 64px; height: 64px">
        <div>{{ product.title }}</div>
        <div>{{ product.description }}</div>
        <div>{{ product.askingPrice }}</div>

        <button class="button button-full button-positive" ng-click="buy()" ng-show="!bought">
            Buy
        </button>
        <button class="button button-full button-positive" ng-show="bought" disabled>
            Bought
        </button>
        <button class="button button-positive button-outline">
            Contact
        </button>
    </ion-content>
</ion-view>
